<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.headline }}</title>  <!-- Dynamic title based on article -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="logo-link">
            <h1 class="logo">MUHAMMAD IMRAN</h1>
        </a>
        <input type="checkbox" id="navigation-toggle" class="navigation-toggle">
        <nav id="nav-bar-main">
            <ul>
                <li class="nav-main"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-main"><a href="{{ url_for('about') }}">About</a></li>
                <li class="nav-main"><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                <li class="nav-main"><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <label for="navigation-toggle" class="navigation-toggle-label">
            <span></span>
        </label>
    </header>
    
    <main>
        <!-- Dynamic content for the article -->
        <h1>{{ article.headline }}</h1>
        <p>{{ article.content }}</p>
    </main>

    <footer>
        Submitted by <strong>Muhammad Imran</strong>
    </footer>
</body>
</html>
